{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    {% if form %}
    <h1 style="color: darkslateblue;">Welcome, {{ current_user.username }}!</h1>
    {{ wtf.quick_form(form) }}
    {% endif %}
    {% if form %}
    <h2>Your Feed</h2>
    {% else %}
    <h2 style="color: darkslategray;">Discovery</h2>
    <hr style="border: 2px solid gray; width: 70%;">
    <p style="color: dimgrey;">Find out what others are posting...</p>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="Post navigation">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
